.main
  display: flex
  .box
    width: 100%
    background: #F2F2F2
    .seekers
      display: flex
      justify-content: space-around
      align-items: center
      background: #F2F2F2;
      height: 150px
      &__counter
        h3
          font-family: 'Roboto', sans-serif;
          font-style: normal
          font-weight: bold
          font-size: 22px
          color: #475364
        p
          font-family: 'Roboto', sans-serif;
          font-style: normal
          font-weight: normal
          font-size: 11px
          color: #8EA4B5
      &__add
        margin-left: 620px
      &__btn_one
        font-family: 'Roboto', sans-serif;
        font-style: normal
        font-weight: bold
        font-size: 13px
        background: #FFFFFF
        border: 1px solid #DBE4E7
        box-sizing: border-box
        border-radius: 3px
      &__btn_two
        background: #386BF2
        border-radius: 3px
        font-family: 'Roboto', sans-serif
        color: #ffffff
        font-style: normal
        font-weight: bold
        font-size: 13px
    .candidates
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &__add
        text-align: center
        width: 1300px
        background-color: #ffffff
        font-family: 'Roboto', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 11px
        text-transform: uppercase
        color: #475364
        cursor: pointer
      &__tables
        width: 1300px
        background-color: #ffffff
        td
          padding-top: 15px
          padding-left: 20px
          padding-bottom: 25px
        .candidates-tables__header
          th
            font-family: 'Roboto', sans-serif
            font-style: normal
            font-weight: bold
            font-size: 11px
            text-transform: uppercase
            color: #475364
            padding-top: 15px
            padding-left: 20px
            padding-bottom: 25px
        .candidates-tables__body
          display: flex
          justify-content: flex-start
          align-items: center
          .candidates-tables__img
            margin-left: 10px
            margin-right: 15px
          .candidates-tables__images
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-right: 15px
            background: #E8EFF1
            border-radius: 3px
            width: 36px
            height: 36px
          .candidates-tables__imags
            display: flex
            width: 100%
            justify-content: space-around
            a
              display: flex
              flex-direction: column
              justify-content: center
              align-items: center
              width: 36px
              height: 36px
              background: #FFFFFF
              border: 1px solid #DBE4E7
              box-sizing: border-box
              border-radius: 3px
          .candidates-tables__text
            .candidates-tables__rating
              img
                cursor: pointer
            p
              font-family: 'Roboto', sans-serif;
              font-style: normal
              font-weight: bold
              font-size: 12px
              line-height: 14px
              margin-bottom: 0
              color: #475364
            span
              font-family: 'Roboto', sans-serif;
              font-style: normal
              font-weight: normal
              font-size: 10px
              color: #8EA4B5
              b
                font-family: 'Roboto', sans-serif;
                font-style: normal
                font-weight: bold
                font-size: 10px
                color: #475364